<button>{{ name }}</button>
<button>upload</button>
<!--<button><a href="/signup">settings</a></button>-->
<button><a href="/logout">logout</a></button>

<!--https://stackoverflow.com/questions/23013447/how-to-define-handlebar-js-templates-in-an-external-file-->
<!-- or we just do the .html and change it manually but idk if you can do that with handlebars -->