<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>SHMOOD</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-left">
            <header>
                <h1 id="title">SHMOOD</h1>
                <p>this is placeholder text for the website</p>
            </header>
        </div>

        <div class="row justify-content-center">
            <div class="col-11" id="grid">
                <div class="row">
                <div class="col">
                    <img src="./assets/img/test7.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test8.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test9.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test4.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test11.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test6.jpg" class="img-fluid mb-4">
                </div>
                <div class="col">
                    <img src="./assets/img/test15.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test12.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test3.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test10.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test5.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test2.jpg" class="img-fluid mb-4">
                </div>
                <div class="col">
                    <img src="./assets/img/test13.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test1.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test17.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test18.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test16.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test14.jpg" class="img-fluid mb-4">
                </div>
                </div>
            </div>

            <div class="col-1" id="sidebar">
                <button><a href="/signup">signup</a></button>
                <button><a href="/login">login</a></button>
            </div>
        </div>
    </div>

</body>

</html>
