<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>SHMOOD</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10">
                <header>
                    <h1 id="title"><a href="/">SHMOOD</a></h1>
                    <p>this is placeholder text for the website</p>
                </header>
            </div>
            <div class="col-1">
                
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10" id="grid">
                <div class="row">
                    {{!-- {{#if imgs}}
                        <div class="col">
                        {{#each img}}
                            <img src={{img}} class="img-fluid mb-4">
                        {{/each}}
                        </div>
                    {{/if}} --}}
                {{!-- <div class="col">
                    <img src="./assets/img/test7.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test8.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test9.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test4.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test11.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test6.jpg" class="img-fluid mb-4">
                </div>
                <div class="col">
                    <img src="./assets/img/test15.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test12.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test3.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test10.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test5.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test2.jpg" class="img-fluid mb-4">
                </div>
                <div class="col">
                    <img src="./assets/img/test13.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test1.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test17.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test18.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test16.jpg" class="img-fluid mb-4">
                    <img src="./assets/img/test14.jpg" class="img-fluid mb-4">
                </div> --}}
                </div>
            </div>

            <div class="col-1" id="sidebar">
                <div class="position-fixed btn-group-vertical">
                    {{#if name.username}}
                        <button><a href="/userPage">{{ name.username }}</a></button>
                        <button data-toggle="modal" data-target="#imgUpload">upload</button>
                        <button><a href="/signup">settings</a></button>
                        <button><a href="/logout">logout</a></button>
                    {{else}}
                        <button><a href="/signup">signup</a></button>
                        <button><a href="/login">login</a></button>
                    {{/if}}
                </div>

                            <!--Password Change Modal-->
            <div class="modal fade" id="imgUpload" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imgUploadTitle">Image Upload</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="imgUploadForm" name="imgUploadForm" action="/uploadImg"
                                method="POST" class="imgUploadForm">

                                <div class="fields">
                                    <input type="file"
                                    id="userImg" name="img"
                                    accept="image/png, image/jpeg">
                                </div>

                                <div class="modal-footer">
                                    <input id="imgCsrf" type="hidden" name="_csrf" value={{csrfToken}} />
                                    <button class="btn btn-secondary rounded-pill" id="cancelButton"
                                        data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-secondary rounded-pill" id="uploadButton"
                                        type="submit">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

</body>

</html>
