<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>SHMOOD</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/hosted/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>

    <div class = "container">
        <header class="row">
            <h1>SCHMOOD</h1>
            <h2>this is placeholder text for the website</h2>
        </header>

        <div class="row">

        </div>
    </div>

</body>

</html>
