html,
body {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(#f8f8f8, #FAFAFA, #DEDEDE);
}

#title,
#sidebar h3 {
    font-family: 'Rubik', sans-serif;
    color: #212121;
    padding: 0;
    margin: 0;
}

header {
    margin: 30px 20px 20px 30px;
}

#grid {
    margin-left: 15px;
    padding-right: 20px;
    margin-right: 5px;
    border-right: 3px solid lightgray;
}

h2 {
    font-weight: lighter;
    font-size: 1em;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

.login-signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(52, 78, 92);
    background: linear-gradient(135deg, rgba(52, 78, 92, 1) 0%, rgba(74, 177, 157, 1) 25%, rgba(239, 201, 88, 1) 50%, rgba(225, 122, 71, 1) 75%, rgba(176, 95, 109, 1) 100%);

}

/**LOGIN PAGE**/
#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
}

#loginForm h1{
    font-size: 34px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.fields{
   margin: 25px;
}

.field{
    text-align: left;
    font-size: 1.5em;
    width: 100%;
    max-width: 520px;
    border: none;
    border-bottom: 1px solid blue;
    margin-bottom: 25px;
}

.field:focus {
    outline: none;
}

/***************/

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

#title {
    font-size: 4em;
}

#sidebar h3 {
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 20px;
}

p {
    font-weight: lighter;
    font-size: 18px;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}



#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}