html, body {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(#f8f8f8, #FAFAFA, #DEDEDE);
}

#title, #sidebar button {
    font-family: 'Rubik', sans-serif;
    color: #212121;
    padding: 0;
    margin: 0;
}

header {
    margin: 40px 40px 40px 40px;
    padding-left: 15vw;
}

#grid {
    padding-right: 20px;
    margin-right: 5px;
    border-right: 3px solid lightgray;

    max-width: 1500px;
}

p {
    font-weight: lighter;
    font-size: 1em;
    margin-left: 10px;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

/**LOGIN PAGE**/
#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

/***************/

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

#title {
    font-size: 6em;
}

#sidebar button {
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 20px;
    background: none;
    border: none;

    padding: 2px 15px 2px 15px;
    border-radius: 25px;
    transition: all .5s ease-in;
}

/* https://codepen.io/bsander/pen/pPpbNm */
#sidebar button:hover {
    background: linear-gradient(90deg, rgba(52, 78, 92, 1) 0%, rgba(74, 177, 157, 1) 25%, rgba(239, 201, 88, 1) 50%, rgba(225, 122, 71, 1) 75%, rgba(176, 95, 109, 1) 100%);
    background-size: 400% 400%;
    animation: rainbow 5s ease-in-out infinite;;
    color: #f8f8f8;
}

p {
    font-weight: lighter;
    font-size: 18px;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}



#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }

