html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(#f8f8f8, #FAFAFA, #DEDEDE);
}

#title, #sidebar h3 {
    font-family: 'Rubik', sans-serif;
    color: #212121;
    padding: 0;
    margin: 0;
}

header {
    margin: 30px 20px 20px 30px;
}

#grid {
    margin-left: 15px;
    padding-right: 20px;
    margin-right: 5px;
    border-right: 3px solid lightgray;
}

#title {
    font-size: 4em;
}

#sidebar h3 {
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 20px;
}

p {
    font-weight: lighter;
    font-size: 18px;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}